<%- include('./partials/header.ejs') %>

  <div class="main flex justify-center items-center  h-[100vh]">
    <div class="bg-white w-96 rounded-3xl p-5 shadow-lg">   
      <p class="text-zinc-700 font-bold text-3xl leading-tight text-center capitalize tracking-tighter">Welcome to pinterest</p>
      <form action="/login" method="post">
        <label for="username" class="block mx-2 mt-2 text-zinc-600 cursor-pointer">Username</label>
        <input class="border rounded-sm m-2 text-zinc-800" 
          placeholder="username" 
          id="username" 
          name="username" 
          type="text">
        <label for="password" class="block mx-2 mt-2 text-zinc-600 cursor-pointer">Password</label>
        <input class="border rounded-sm m-2 text-zinc-800 tracking-tighter" 
          placeholder="password" 
          id="password" 
          name="password" 
          type="password">
          
          <div class="btn flex justify-center">
            <button class="block bg-red-600 m-2 w-3/4  rounded-full py-2
             hover:bg-red-700 text-white capitalize font-bold" type="submit">Login here</button>
          </div>
      </form>
      <div class="flex justify-center">
        <a href="/register" class="text-sm text-zinc-600 leading-tight
        hover:text-zinc-900">Not registered,<u>Sign up here</u></a>
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs') %>

  

